@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.border{
    border-radius: 10px;
}

.questions {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.btn:focus {
    outline: 0 !important;
    box-shadow: none !important
}

.btn:active {
    outline: 0 !important;
    box-shadow: none !important
}