.dropper {
  margin: 0 auto;
  width: 100%;
  height: 40%;
  border: 3px #535252 dashed;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  text-align: center;
}

.dropper > span {
  font-size: 16px;
}

.dropper > input,
.dropper-filled > input {
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0;
}

.dropper.dropper-filled{
  
  .dropper-img{
    object-fit: cover;
    height: 100%;
  }

}


.profile-pic {
  margin: 0 auto 40px;
  width: 10vw;
}
