// Global styling variables
$primary: #ce181e;

@each $prop, $abbrev in (height: h, width: w) {
  @for $index from 0 through 180 {
    $size: $index * 4;
    $length: #{$size}px;

    .#{$abbrev}-#{$size} {
      #{$prop}: $length !important;
      min-#{$prop}: $length !important;
      max-#{$prop}: $length !important;
    }
  }

  // Percentage
  @for $i from 0 through 20 {
    $i-p: 5 * $i;
    $size-p: 5% * $i;

    .#{$abbrev}-#{$i-p}-p {
      #{$prop}: $size-p !important;
    }
  }
}

@import "./scss/main.scss";

.form-control.curve {
  border-radius: 10rem;
}

.btn.curve {
  border-radius: 10rem;
}

.tr-sticky-add-btn {
  position: absolute;
  right: 1em;
  z-index: 1;
  top: 1em;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.tr-sticky-div {
  position: absolute;
  right: 1em;
  z-index: 1;
  top: 1em;
}

.tr-sticky-dialog-close {
  position: absolute;
  right: 0em;
  z-index: 1;
  top: 0em;
  // height: 20px;
  // width: 20px;
  // i{
  //   font-size: 15px;
  // }
}

.otpContainer {
  margin: 4% auto;
}

.otpInput {
  width: 3rem !important;
  height: 3rem;
  margin: 4px;
  font-size: 2rem;
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
} 
